@model MediRed.Models.Notification

@{
    ViewBag.Title = "Detalles Notificación";
}

<h2>Details</h2>

<div>
    <h4>Notification</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.NotificationId }) |
    @Html.ActionLink("Volver", "Index")
</p>
