@{
    ViewBag.Title = "MediRed";
}
<div style="width:50px; height:50px;">
</div>
<div class="jumbotron">
    <div class="container ">
        <div class="container col-lg-3">
            <div style="width:200px; height:200px;">
                <img src="~/Content/images/img_medired.jpeg" class="img-responsive" alt="Alternate Text" />
            </div>
        </div>

        <h1>MediRed</h1>
        <p class="lead">MediRed es un asistente médico con notificaciones para nuestros pacientes, cuidamos tu salud.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-lg-4">
        <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-1">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                    <i class="fa fa-search-plus fa-3x"></i>
                </div>
            </div>
            <img class="img-circle img-thumbnail" src="~/img/portfolio/cabin.png" />
        </a>
    </div>
    <div class="col-md-6 col-lg-4">
        <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-2">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                    <i class="fa fa-search-plus fa-3x"></i>
                </div>
            </div>
            <img class="img-circle img-thumbnail" src="~/img/portfolio/cake.png" />
        </a>
    </div>
    <div class="col-md-6 col-lg-4">
        <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-3">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                    <i class="fa fa-search-plus fa-3x"></i>
                </div>
            </div>
            <img class="img-circle img-thumbnail" src="~/img/portfolio/circus.png" />
        </a>
    </div>
    <div class="col-md-6 col-lg-4">
        <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-4">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                    <i class="fa fa-search-plus fa-3x"></i>
                </div>
            </div>
            <img class="img-circle img-thumbnail" src="~/img/portfolio/game.png" />
        </a>
    </div>
    <div class="col-md-6 col-lg-4">
        <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-5">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                    <i class="fa fa-search-plus fa-3x"></i>
                </div>
            </div>
            <img class="img-circle img-thumbnail" src="~/img/portfolio/safe.png" />
        </a>
    </div>
    <div class="col-md-6 col-lg-4">
        <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-6">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                    <i class="fa fa-search-plus fa-3x"></i>
                </div>
            </div>
            <img class="img-circle img-thumbnail" src="~/img/portfolio/submarine.png" />
        </a>
    </div>
</div>
      </div>
    @*<div class="container">
        <div style="width:200px; height:200px;">
            <img src="~/Content/images/img_medired.jpeg" class="img-responsive" alt="Alternate Text" />
        </div>
    </div>*@
@*</div>*@

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@