@model MediRed.Models.MedicalSpeciality

@{
    ViewBag.Title = "Detalles Especialidad Médica";
}

<h2>Detalles Especialidad Médica</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameSpeciality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameSpeciality)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.SpecialityId }) |
    @Html.ActionLink("Volver", "Index")
</p>
