@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Add Role";
}
<table>
    <tr>
        <td>
            <h2>Crear Roles de Usuarios</h2>
        </td>
    </tr>

    <tr>
        <td>
            <table>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                    </tr>}
            </table>
        </td>
        <td>
            <h3>   @Html.ActionLink("Haga click aquí para crear un nuevo rol", "Create", "Role") </h3>
        </td>
    </tr>
</table>
